body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgb(156, 203, 221), rgb(67, 135, 224));
    color:#013852;
    padding: 10px;
}

#container{
    max-width: 800px;
    min-width: 400px;
    margin: 20px auto;
}

img {
    border-radius: 15px;
    width: 300px;
    margin-bottom: 10px;
}

a:link {
    color:rgb(144, 203, 226);
    background-color: #013852; 
    border-radius: 8px;
    max-width:400px;
    padding:10px;
    text-decoration:none;
}

a:visited {
  color: #098b40;
}

a:hover {
  text-decoration:underline;
}

#pic1 {
    float: left;
    margin-right: 20px;
}

#pic2 {
    float: right;
    margin-left: 20px;
}

#pic3 {
    float: left;
    margin-right: 20px;
}

h3 {
    clear: both;
    padding-top: 20px;
}

.titlebox {
  background-color: #013852; 
  color: rgb(131, 197, 223);
  font-size: 30px;
  padding: 5px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  border-radius: 8px;
}

.titlebox2 {
  background-color: #013852; 
  color: rgb(131, 197, 223);
  padding: 15px;
  margin: 10px auto;
  max-width: 800px;
  text-align: center;
  border-radius: 28px;
  font-style: italic;
  font-size: 13px;
}

.paragraph{
    color:#013852;
}

.funfacts {
    background-color: #013852; 
    color: rgb(131, 197, 223);
    padding: 15px;
    padding-top:0px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 28px;
    text-align: center;
}

.footer {
    text-align: center;
    font-style: italic;
    padding-top: 0px;
}